*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    transition: background 0.8s ease;
    background: linear-gradient(135deg,#f5f7ff,#e6f0ff);
}

.card{
    width:90%;
    max-width:420px;
    padding:35px;
    border-radius:30px;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(25px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.08);
    text-align:center;
    color:#333;
}

.search{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

.search input{
    flex:1;
    padding:12px 15px;
    border-radius:30px;
    border:none;
    background:rgba(255,255,255,0.6);
    outline:none;
}

.search button{
    border:none;
    border-radius:50%;
    width:45px;
    height:45px;
    background:rgba(255,255,255,0.6);
    cursor:pointer;
    font-size:18px;
}

.weather{
    display:none;
}

.temp{
    font-size:60px;
    font-weight:500;
}

.city{
    font-size:28px;
    margin-bottom:20px;
}

.sun-container{
  
    display: flex;
    justify-content: space-between; 
    background: rgba(255, 255, 255, 0.3);
    padding: 20px 35px; 
    border-radius: 20px;
    margin-bottom: 20px;
}

.sun-item {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    width: 48%;            
    gap: 8px;
}

.details{
    display:flex;
    justify-content:space-between;
}

.col{
    background:rgba(255,255,255,0.3);
    padding:15px;
    border-radius:20px;
    width:48%;
}

.error{
    display:none;
    color:#ff6b6b;
    margin-bottom:15px;
} 

.sun-icon{
    width: 35px;          
    height: auto;
    display: block;
}